*.o
*.d
*.a
*.elf
*.hdd
*.iso
*.tar.gz
*.tar.xz
/bin
/limine.h
/compile_commands.json
/freestanding-toolchain
/toolchain-files
/freestanding-headers
/libgcc-binaries
/build
/configure
/configure.ac.save
/build-aux
/*~
/config.status
/config.log
/autom4te.cache
/GNUmakefile
/symtab.map
/printf
/flanterm
/linux-headers
/mlibc-headers
