*.o
*.d
*.a
*.elf
*.hdd
*.iso
/compile_commands.json
/cross-detect
/cross-files
/freestanding-headers
/libgcc-binaries
/build
/configure
/configure.ac.save
/build-aux
/*~
/config.status
/config.log
/autom4te.cache
/GNUmakefile
